# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# TensorFlow/Keras
*.h5
logs/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Model files
model.h5

# Environment variables
.env